{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{#{% block body_class %}login_page{% endblock %}#}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-xs-push-3">

                <img class="img-responsive" id="image"
                     src="{{ asset('assets/img/billy/billydoclogo.png') }}" alt="imagebilly">

                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <form class="mt-10" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal text-center text-billy">Connexion</h1>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    <br>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <br>
                    <button class="btn btn-block btn-billy pt-2" type="submit">
                        Connexion
                    </button>

                    <a class="btn btn-block btn-outline-billy" href="{{ path('user_register') }}">Inscription</a>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
