<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ asset('assets/img/billy/flavicon.png') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% block title %} BillyDocs | Votre base de donnée personnelle {% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    {% block stylesheets %}
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/landing-page.css') }}" rel="stylesheet"/>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="{{ asset('assets/css/pe-icon-7-stroke.css') }}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">


        <!--Formulaire-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha256-AWdeVMUYtwLH09F6ZHxNgvJI37p+te8hJuSMo44NVm0=" crossorigin="anonymous" />
        <link href="assets/css/forms.css" rel="stylesheet" />
        <style>
            .custom-file-label {display:none}
        </style>
    {% endblock %}
</head>

<body class="landing-page landing-page1">

{% include 'components/_params.html.twig' %}

<div class="wrapper">
    {% block content '' %}
    {% block formulaire '' %}
    {% include 'components/_footer.html.twig' %}
</div>

{% block scripts %}
    <script src="{{ asset('assets/js/jquery-1.10.2.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/jquery-ui-1.10.4.custom.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/awesome-landing-page.js') }}" type="text/javascript"></script>

    <!--Dropify-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" integrity="sha256-SUaao5Q7ifr2twwET0iyXVy0OVnuFJhGVi5E/dqEiLU=" crossorigin="anonymous"></script>
    <script>
        $('.dropify').dropify({
            messages: {
                default: 'Glissez-d&eacute;posez un fichier ici ou cliquez',
                replace: 'Glissez-d&eacute;posez un fichier ou cliquez pour remplacer',
                remove:  'Supprimer',
                error:   'D&eacute;sol&eacute;, le fichier est trop volumineux'
            }
        });
    </script>
{% endblock %}

</body>
</html>
