
<div class="fixed-plugin">
    <div class="dropdown toggle">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            {#<li class="header-title">{% block title %}Test affichage{% endblock %}</li> #}
{#            <li class="active">#}
{#                <a href="#" class="switch">#}
{#                    <p class="">Changer mon nom</p>#}
{#                </a>#}
{#            </li>#}
                <h2 class="titremonprofil"> Mon Profil </h2>
                <li class="active">
                    <a href="#" class="switch">
{#                       {{ form_start(form) }} {{ form_end(form) }}#}
                        {{ render(controller('App\\Controller\\UserController::profil')) }}


                    </a>
                </li>
            <h2 class="titremonprofil"> Mon mot de passe </h2>
            <li class="active">
                <a href="#" class="switch">
                    {#                       {{ form_start(form) }} {{ form_end(form) }}#}
                    {{ render(controller('App\\Controller\\PasswordUpdateController::updatePassword')) }}
                </a>
            </li>

{#            <li class="active">#}
{#                <a href="#" class="switch">#}
{#                    <p class="">Changer mon adresse email</p>#}
{#                </a>#}
{#            </li>#}
            <li class="">
                <a href="#formules" class="switch">
                    <button id="boutonformule" type="button" class="btn btn-outline-primary">Voir les formules €
                    </button>
                </a>
            </li>
        </ul>
    </div>
</div> <!--/PARAMETRE-->
